@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

body {
  background: royalblue;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container-container {
  padding: 25px;
  width: 1000px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.container_1 {
  background: white;
  padding: 25px;
  border-radius: 10px;
  width: 300px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.display {
  width: 100%;
  padding: 20px;
  font-size: 1.5em;
  text-align: right;
  border: none;
  background-color: gainsboro;
  margin-bottom: 15px;
  border-radius: 8px;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

.button {
  padding: 15px;
  font-size: 1.2em;
  border: none;
  cursor: pointer;
  background-color: gainsboro;
  border-radius: 10px;
  transition: background-color 0.3s;
}

.button:hover {
  background-color: lightgray;
}

.button.clear {
  grid-column: span 4;
  background-color: royalblue;
  color: white;
  font-weight: bold;
}

.button.clear:hover {
  background-color: darkblue;
}
